<a href="https://colab.research.google.com/github/ShrutiMishra-2002/outliers/blob/main/outliers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

zee score example height/weight , applying zeescore in height column

outlier means to bring in certain range

In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv("/content/sample_data/weight-height.csv")
df.head(5)
df.shape

(10000, 3)

In [6]:
df.Height.describe()

count    10000.000000
mean        66.367560
std          3.847528
min         54.263133
25%         63.505620
50%         66.318070
75%         69.174262
max         78.998742
Name: Height, dtype: float64

zscore value should be between 1-3

In [7]:
df['Zscore']= (df.Height - df.Height.mean()) / df.Height.std()
df.head(5)

  Gender     Height      Weight    Zscore
0   Male  73.847017  241.893563  1.943964
1   Male  68.781904  162.310473  0.627505
2   Male  74.110105  212.740856  2.012343
3   Male  71.730978  220.042470  1.393991
4   Male  69.881796  206.349801  0.913375

finding outliers

In [8]:
df[df['Zscore']>3]

     Gender     Height      Weight    Zscore
994    Male  78.095867  255.690835  3.048271
1317   Male  78.462053  227.342565  3.143445
2014   Male  78.998742  269.989699  3.282934
3285   Male  78.528210  253.889004  3.160640
3757   Male  78.621374  245.733783  3.184854

In [9]:
df[df['Zscore']< -3]

      Gender     Height     Weight    Zscore
6624  Female  54.616858  71.393749 -3.054091
9285  Female  54.263133  64.700127 -3.146027

In [10]:
no_outliers = df[(df.Zscore > -3) & (df.Zscore < 3)]
no_outliers.head(5)

  Gender     Height      Weight    Zscore
0   Male  73.847017  241.893563  1.943964
1   Male  68.781904  162.310473  0.627505
2   Male  74.110105  212.740856  2.012343
3   Male  71.730978  220.042470  1.393991
4   Male  69.881796  206.349801  0.913375

In [11]:
no_outliers.shape

(9993, 4)